




# IDEs and editors #
####################
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node.js #
###########
node_modules/
npm-debug.log
yarn-error.log


.env




build/

# User-specific files #
#######################
*.xcuserdata/
.cursor 